.main {
  min-height: 100vh;
  padding: 3rem;
}

.h1 {
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

.h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.li {
  list-style-type: none;
}

.link {
  color: #777777;
  cursor: pointer;
}

.link:hover {
  color: blue;
}
